{% extends 'menu/menuBase.twig' %}   

{% block menuName %}
    Menu pour {{user.getLogin()}}
{% endblock %}
 {% block loginButton %}
    <div class="loginButton disconnectButton">
        <a  href="{{root}}disconnect">Se déconnecter</a>
    </div>
{% endblock %}
{% block articles %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{root}}posts">Articles</a></li>
{% endblock %}
{% block menuSupplement %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{root}}edit/password">Mot de passe</a></li>
{% endblock %}
                