.my{
  padding: 10px;
  background-color: #f7f1f0;
}
.comment{
  padding: 10px;
  word-wrap: break-word;
}

.comments{
  padding-bottom: 40px;
}

.published{
  background-color: #e4f1d1;
}

.notPublished{
  background-color: #f9c8c2;
}