.loginButton {
  background-color: #007189;
  padding: 5px;
  margin: 0;
  margin-right: 20px;
  border-radius: 5px;
}

.loginButton a {
  font-size: 0.8em;
  color: #fff;
  margin:0;
  padding: 5px 10px;
}

.loginButton a:hover {
  color: #d4dddb;
}

.loginButton :nth-child(2n) {
  border-left: 1px solid #000;
}

.disconnectButton {
  background-color: #895900;
}