    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {# <h4 class="col-md-10 col-lg-8 col-xl-7 special-color">Laisser un commentaire</h4> #}
                <div class="my-5">
                    <div id="form" method ='post'>
                        <div class="form-floating post-form" id="contenu" >
                            <textarea class="form-control postTextarea" name="contenu" type="text" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                            <label for="contenu" class="special-color">Laisser un commentaire</label>
                            <div class="invalid-feedback" data-sb-feedback="contenu:required">Un texte de 10 caractères minimum est nécessaire.</div>
                            {# <div class="invalid-feedback specific-feedback" data-sb-feedback="newPassword:required">Le texte est inférieur à 10 caractères!</div> #}
                        </div>

                        <div class="post-form hide"  id="token">
                            <input class="form-control" name="token" type="password" value="{{user.getToken()}}" />   
                        </div>
                         
                        <div class="post-form hide"  id="id_post">
                            <input class="form-control" name="id_post" type="text" value="{{postEntity.getId()}}" />   
                        </div>

                        <br />
                       <img id="progress_bar" class="hide" src="assets/img/gif/chargement2.gif"/>
                        
                        <div id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Le commentaire à été enregistré avec succés. Il peut être soumis à une validation avant publication.</div>
                            </div>
                        </div>

                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur l'article n'a pas été enregistré.</div></div>
                        <!-- Submit Button-->
                        {# <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button> #}
                        <button class="btn btn-primary text-uppercase" id="submitButton">Créer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% block js %}

    <script>

        var contenu = (document.getElementById("contenu").getElementsByClassName("form-control"))[0];

        var invalidSpecificContenu = (document.getElementById("contenu").getElementsByClassName("specific-feedback"))[0];

        // specific element will be verified
        var url = '{{ root }}push/comment';

        function displaySomethingSpecific()
        {
            //this function is obligatory
            //nothing for me
        }
        
        function hideSomethingSpecific()
        {
            //this function is obligatory
            //nothing for me
        }
        
        function doSomethingSpecificSuccess()
        {
            //this function is obligatory
            //nothing for me
        }
        
        function doSomethingSpecificError()
        {
            errorMessage.style.display='block';
            //progress_bar.style.display = 'none';
        }

        function validFormSpecificPage()
        {
            var $validFormSpecificPage = true;

            if(contenu['value'].length < 3)
            { 
                $validFormSpecificPage = false;
                invalidSpecificContenu.style.display = 'block';
                invalidSpecificContenu.style.display = 'block';
            }
            return $validFormSpecificPage;
        }
        // ce script doit être ecexuter avant le script ci dessous
    </script>

    <script src="{{root}}js/submit.js"></script>
{% endblock %}
