{% extends 'menu.twig' %}   

{% block menuName %}
    Menu pour {{user.getLogin()}}
{% endblock %}

{% block articles %}
    {% if user.getType == 'admin' %}
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{root}}postsBack">Articles</a></li>
    {% else %}
        {{parent()}}
    {% endif %}

{% endblock %}
                