{% extends "Base.twig" %}
{% block css %}<link href="{{root}}css/contact.css" rel="stylesheet" />{% endblock %}
{% block headerImage %}editPassword-bg{% endblock %}
{% block nav %}
    {% if user.getPermission() is not null %}
        {% include 'menu/menuAuth.twig' %}
    {% else %}
    {{parent()}}                    
    {% endif %}
{% endblock %}
{% block container %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Modifier le mot de passe </p>
                <div class="my-5">
                    <div id="form" method ='post'>
                        <div class="form-floating post-form" id="login">
                            <input class="form-control"  name="login" type="text" 
                            placeholder="Entrer un login..." required pattern="[a-zA-Z0-9._-]" />
                            <label for="name">Login</label>
                            <div class="invalid-feedback" data-sb-feedback="login:required">Le login est nécesaire et doit être supérieur ou égal à 6 caractères.</div>
                        </div>
                        
                        <div class="form-floating post-form" id="password">
                            <input class="form-control"  name="password" type="password" placeholder="Nouveau mot de passe..." data-sb-validations="required" />
                            <label for="email">Mot de passe</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">Le nouveau mot de passe est nécesaire et doit être supérieur ou égal à 6 caractères.</div>
                            <div class="invalid-feedback specific-feedback" data-sb-feedback="password:required">Le mot de passe et la confirmation ne sont pas similaires ou inférieur à 6 caractères, veuillez les modifier.</div>
                        </div>
                        
                        <div class="form-floating post-form" id="confirmPassword">
                            <input class="form-control"  type="password" placeholder="Confirmation nouveau mot de passe..." data-sb-validations="required" />
                            <label for="email">Confirmation mot de passe</label>
                            <div class="invalid-feedback" data-sb-feedback="confirmPassword:required">La confirmation du mot de passe est nécesaire et doit être supérieur ou égal à 6 caractères.</div>
                            <div class="invalid-feedback specific-feedback" data-sb-feedback="password:required">Le mot de passe et la confirmation ne sont pas similaires ou inférieur à 6 caractères, veuillez les modifier.</div>
                        </div>              
                        <br />
                        <div id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Création réussie</div>
                            </div>
                        </div>
                        
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur, le mot de passe n'a pa été modifié.</div></div>
                        <!-- Submit Button-->
                        {# <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button> #}
                        <button class="btn btn-primary text-uppercase" id="submitButton" >Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
    {# <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> #}
    <script>

        var floatingForms = document.getElementsByClassName("form-floating");
        var postForms = document.getElementsByClassName("post-form");

        var form = document.forms["form"];

        // specific element will be verified
        var password = (document.getElementById("password").getElementsByClassName("form-control"))[0];
        var confirmPassword = (document.getElementById("confirmPassword").getElementsByClassName("form-control"))[0];

        var invalidSpecificPassword = (document.getElementById("password").getElementsByClassName("specific-feedback"))[0];
        var invalidSpecificConfirmPassword = (document.getElementById("confirmPassword").getElementsByClassName("specific-feedback"))[0];

        var url = 'pushMember';

        //specific calling after click
        function displaySomethingSpecific()
        {
            //this function is obligatory
            //nothing for me
        }
        
        function hideSomethingSpecific()
        {
            // a supprimer
            //this function is obligatory
            //nothing for me
        }
        
        function doSomethingSpecificSuccess()
        {
            //this function is obligatory
            //nothing for me
        }
        
        function doSomethingSpecificError()
        {
            //this function is obligatory
            //nothing for me
        }

        function validFormSpecificPage()
        {
            var $validFormSpecificPage = true;

            if(password['value'] != confirmPassword['value'])
            { 
                $validFormSpecificPage = false;
                invalidSpecificPassword.style.display = 'block';
                invalidSpecificConfirmPassword.style.display = 'block';
            }
            return $validFormSpecificPage;
        }
        // ce script doit être ecexuter avant le script ci dessous
    </script>
    <script src="{{root}}js/submit.js"></script>
{% endblock %}
