{% extends "Base.twig" %}
{% block headerImage %}simpleMessage-bg{% endblock %}
{% block nav %}
    {% if user.getPermission() is not null %}
        {% include 'menu/menuAuth.twig' %}
    {% else %}
    {{parent()}}                    
    {% endif %}
{% endblock %}
{% block container %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h1>{{ message }}</h1>
            <a class="px-lg-3 py-3 py-lg-4" href="{{root}}home">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}